@import '../../utilities';

.help,
.highlighted .alert,
.content-wrapper {
  margin-top: 3rem;
}

body,
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dialog-off-canvas-main-canvas {
  .holygrail-body {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;

    .main-container {
      // flex: 1 0 0%;
      width: 100%;
    }

  }

  @media #{$grid-breakpoint-max} {
    .holygrail-body {
      flex-direction: column;
    }

  }

}

.tabs--primary {
  margin-top: 1rem;
}

.path-frontpage {
  .region-content {
    margin-top: -200px;
  }
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #0f0f0f;

  a {
    color: #0f0f0f;
    font-size: 1.7rem;
    font-weight: 400;
  }
  a:hover, a:active, a:focus {
    color: #0f0f0f;
    font-size: 1.7rem;
    text-decoration: none;
  }

}