.region.region-content-2{
  #block-views-block-courses-block-1{
    position: relative;
    border: #1e7ea8 3px solid;
    background-color: #EBEBEB;
    padding: 34px 5px 34px 5px;
    .views-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 5px 0 5px 0;
      box-sizing: border-box;
      .views-col {
        height: initial;
        box-sizing: border-box;
        padding: 15px 0 0 0;
        border: 2px solid transparent;
        flex: 0.1;
        &:hover{
          position: relative;
          border-top: #1e7ea8 2px solid;
          border-bottom: #1e7ea8 2px solid;
          content: "Read more >>";
          &:after{
            position: absolute;
            color: #1e7ea8;
            content: "Course details >>";
            left: 0%;
            bottom: -25px;
          }
        }
        .course.teaser{
          padding: 5px 5px 0 5px;
          img{
            height: 100px;
            background-size: cover;
            object-fit: fill;
          }
        }
      }
    }
    .view-content{
      h2{
        width: 200px;
        text-align: left;
        a{
          color: #000;
          font-weight: bold;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    .more-link.see-course{
      display: none;
    }
    h2 a{
      text-transform: lowercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-align: center;
      color: #000;
      &:hover{
        color: #1C7BA7;
      }
    }
  }//END #id bock 1

  .elearning-star-svg img{
    position: absolute;
    width:4.5%;
    height: 74px;
    top: -1px;
    right: 30px;
  }
  h2.block-title{
    border: unset;
    font-size: 25px;
  }
  #block-views-block-courses-block-1 h2.block-title{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  #block-views-block-topics-topic-courses{
    padding: 50px 35px 75px 35px;
    h2.block-title{
      position: relative;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
    .views-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5px 0 5px 0;
      box-sizing: border-box;
      .views-col{
        flex-grow: 1;
        box-sizing: border-box;
        padding: 20px 0 20px 0;
        border: 2px solid transparent;
        &:hover{
          position: relative;
          border-top: #1e7ea8 2px solid;
          border-bottom: #1e7ea8 2px solid;
          content: "Read more >>";
          &:after{
            position: absolute;
            color: #1e7ea8;
            content: "See course >>";
            left: 0%;
            bottom: -25px;
          }
        }
      }
    }
    .views-field.views-field-field-image {
      width: 85px;
      height: 85px;
    }
    .views-field.views-field-name{
      width: 85px;
      text-align: center;
      padding-top: 10px;
      .field-content a{
        color: #000;
        font-weight: bold;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }//END #id block 2
  #block-leocloud{
    &:before {
      position: absolute;
      width: 400px;
      left: -390px;
      background-color: #eee;
      background-image: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0%;
      right: -390px;
      width: 400px;
      height: 400px;
      background-image: linear-gradient(
                      to bottom,
                      transparent 50px,
                      #F5A623 50px,
                      #F5A623 calc(100% - 50px),
                      transparent 0
      );
      background-color: #eee;
      background-image: none;
    }

    h2.block-title{
      position: relative;
      top: 50%;
      left: 50%;
      margin-top: 5%;
      transform: translate(-50%, -50%);
    }
    .elearning-search-glossary img{
      position: absolute;
      width: 50px;
      top: -15px;
      left: -40px;
    }
    .block-leocloud-background{
      max-width: 100%;
    }
  }//END block glossary


  @media only screen and (max-width: 800px) {//pt cran mai mic de 800px
    #block-views-block-courses-block-1{
      h2.block-title{
        font-size: 18px;
      }
    }
    #block-views-block-topics-topic-courses{
      h2.block-title{
        font-size: 18px;
      }
    }
  }
}
body{
  overflow-x: hidden;
}
*{
  .block-leocloud-background{
    background-color: #eee;
    background-size:cover;
    background-repeat: repeat-x;
    -webkit-background-origin:border;
    margin: 0;
    padding: 0;
    bottom: 0px;
    left: 0px;
    #block-leocloud{
      position: relative;
    }
  }
}
